.popUpContainer{
    display: flex;
    gap: 20px;

    img{
        width: 64px;
        height: 48px;
        object-fit: 5px;
        border-radius: 5px;
    }

    .textContainer {
        .link {
            text-decoration: none;
        }
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
}